{% set php = salt['grains.filter_by']({
    'Debian': {
        'php_pkg': 'php5',
        'adodb_pkg': 'php5-adodb',
        'apc_pkg': 'php-apc',
        'apcu_pkg': 'php5-apcu',
        'cgi_pkg': 'php5-cgi',
        'cli_pkg': 'php5-cli',
        'ctype_pkg': 'php5',
        'curl_pkg': 'php5-curl',
        'dev_pkg': 'php5-dev',
        'dom_pkg': 'php5',
        'gd_pkg': 'php5-gd',
        'intl_pkg': 'php5-intl',
        'imagick_pkg': 'php5-imagick',
        'imap_pkg': 'php5-imap',
        'fpm_service': 'php5-fpm',
        'fpm_pkg': 'php5-fpm',
        'json_pkg': 'php5-json',
        'ldap_pkg': 'php5-ldap',
        'mbstring_pkg': 'php5',
        'mcrypt_pkg': 'php5-mcrypt',
        'memcache_pkg': 'php5-memcache',
        'memcached_pkg': 'php5-memcached',
        'mongodb_pecl': 'mongodb',
        'mongodb_ext': 'mongodb.so',
        'mysql_pkg': 'php5-mysql',
        'mysqlnd_pkg': 'php5-mysqlnd',
        'oauth_pkg': 'php5-oauth',
        'openssl_pkg': 'php5',
        'pear_pkg': 'php-pear',
        'phar_pkg': 'php5',
        'pgsql_pkg': 'php5-pgsql',
        'redis_pkg': 'php5-redis',
        'sasl_pkg': 'libsasl2-dev',
        'soap_pkg': 'php-soap',
      	'sqlite_pkg': 'php5-sqlite',
      	'suhosin_pkg': 'php5-suhosin',
      	'tokenizer_pkg': 'php5',
        'xml_pkg': 'php5',
        'xmlwriter_pkg': 'php5',
        'xsl_pkg': 'php5-xsl',
        'php_ini': '/etc/php5/apache2/php.ini',
        'ext_conf_path': '/etc/php5/mods-available',
        'local_bin': '/usr/local/bin',
        'temp_dir': '/tmp',
        'composer_bin': 'composer',
        'composer_hash': 'sha256=50b383348173bd454ed8d962253a85b7d194f071e3f8e7f74817512221efc569',
    },
    'Suse': {
        'php_pkg': 'php5',
        'adodb_pkg': 'php5-dba',
        'apcu_pkg': 'php5-apcu',
        'cli_pkg': 'php5-cli',
        'ctype_pkg': 'php5-ctype',
        'curl_pkg': 'php5-curl',
        'dev_pkg': 'php5-devel',
        'dom_pkg': 'php5-dom',
        'fpm_pkg': 'php5-fpm',
        'fpm_service': 'php5-fpm',
        'gd_pkg': 'php5-gd',
        'intl_pkg': 'php5-intl',
        'imap_pkg': 'php5-imap',
        'json_pkg': 'php5-json',
        'ldap_pkg': 'php5-ldap',
        'mbstring_pkg': 'php5-mbstring',
        'mcrypt_pkg': 'php5-mcrypt',
        'mysql_pkg': 'php5-mysql',
        'mongodb_pecl': 'mongodb',
        'mongodb_ext': 'mongodb.so',
        'openssl_pkg': 'php5-openssl',
        'pear_pkg': 'php5-pear',
        'phar_pkg': 'php5-phar',
        'pgsql_pkg': 'php5-pgsql',
        'sasl_pkg': 'cyrus-sasl-devel',
        'soap_pkg': 'php5-soap',
        'sqlite_pkg': 'php5-sqlite',
        'suhosin_pkg': 'php5-suhosin',
        'tokenizer_pkg': 'php5-tokenizer',
        'xml_pkg': ['php5-xmlreader','php5-xmlwriter','php5-xmlrpc'],
        'xmlwriter_pkg': 'php5-xmlwriter',
        'xsl_pkg': 'php5-xsl',
        'php_ini': '/etc/php5/apache2/php.ini',
        'ext_conf_path': '/etc/php5/conf.d',
        'local_bin': '/usr/local/bin',
        'temp_dir': '/tmp',
        'composer_bin': 'composer',
        'composer_hash': 'sha256=50b383348173bd454ed8d962253a85b7d194f071e3f8e7f74817512221efc569',
    },
}, merge=salt['pillar.get']('php:lookup')) %}
