Vagrant.configure("2") do |config|
    ## Chose your base box
    config.vm.box = "dj"

    config.vm.hostname = "retrofit.dev"

    nfs = !ENV['CI']

    #  map this directory to approot
    if nfs
        config.vm.synced_folder ".", "/var/www/retrofit", :nfs => nfs, :mount_options => ["udp","vers=3","local_lock=all"]
    else
        config.vm.synced_folder ".", "/var/www/retrofit", :nfs => nfs
    end

    #use forwarded_port to access site via 127.0.0.1:8080
    #config.vm.network :forwarded_port, guest: 8080, host: 8080
    #use private_network to access site via 192.168.50.3:80
    config.vm.network :private_network, ip: "192.168.50.3"


    config.vm.provider "virtualbox" do |vb|
        #use when things are bad
        #vb.gui = true
    end



    ## Use all the defaults:
    config.vm.provision :salt do |salt|

        salt.minion_config = "./salt/minion"
        salt.bootstrap_options = "-F -c /tmp -P"
        salt.run_highstate = true

        #uncomment to see salt debug output during vagrant provision
        salt.verbose = true
    end
end
